{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block header %}{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/register.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <main>
        <div class="py-2 text-center">
            <h2>Sign Up to create an account</h2>
            <p class="lead">You can add a profile picture to your account but it's not mandatory</p>
        </div>
        <div class="d-flex container justify-content-center">
            <div class="col-md-7 col-lg-8">
                {{ form_errors(registrationForm) }}
                    {{ form_start(registrationForm) }}
                    <div class="row g-3">
                        <div class="col-sm-6">
                            {{ form_row(registrationForm.fname) }}
                            <label for="floatingInput"></label>
                        </div>
                        <div class="col-sm-6">
                            {{ form_row(registrationForm.lname) }}
                            <label for="floatingInput"></label>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                {{ form_row(registrationForm.dob) }}
                                <label for="floatingInput"></label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                {{ form_row(registrationForm.gender) }}
                                <label for="floatingInput"></label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                {{ form_row(registrationForm.phone) }}
                                <label for="floatingInput"></label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                {{ form_row(registrationForm.picture) }}
                                <label for="floatingInput"></label>
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="form-floating">
                                {{ form_row(registrationForm.email) }}
                                <label for="floatingInput"></label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                {{ form_row(registrationForm.plainPassword) }}
                                <label for="floatingPassword"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-floating">
                                    {{ form_row(registrationForm.agreeTerms) }}
                                    <label for="floatingInput"></label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-outline-success">Sign Up</button>
                            </div>
                        </div>
                    </div>  
                </div>        
                <hr class="my-4"> 
                {{ form_end(registrationForm) }}    
            </div>
            <div class="d-flex justify-content-center">
                <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="800" height="360" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 800x500" preserveAspectRatio="xMidYMid slice" focusable="false" src="{{ asset('pictures/blog-1.jpg') }}" id="register_picture">
            </div>
        </div>
    </main>
{% endblock %}
