{# Learn how to use Turbo Streams: https://github.com/symfony/ux-turbo#broadcast-doctrine-entities-update #}
{% block create %}
<turbo-stream action="append" target="daily_schedules">
    <template>
        <div id="{{ 'daily_schedules_' ~ id }}">
            #{{ id }} created
        </div>
    </template>
</turbo-stream>
{% endblock %}

{% block update %}
<turbo-stream action="update" target="daily_schedules_{{ id }}">
    <template>
        #{{ id }} updated
    </template>
</turbo-stream>
{% endblock %}

{% block remove %}
<turbo-stream action="remove" target="daily_schedules_{{ id }}"></turbo-stream>
{% endblock %}
